{% extends "base.html" %}
{% block content %}
    <div class='article'>
      <div class="row-fluid">
           <div class="content-title span9">
             <h2>{{ article.title }}</h2>
           </div>
      </div>
    <div class="row-fluid">
      <div class="span2">
	{% include "article-sidebar.html" %}
      </div>
      
      <div class="span8 offset2">
	{{ article.content }}
	<hr />
      </div>
    </div>
      <h3>Comments</h3>
   
    {% include 'disqus.html' %}
      
    </div>
{% endblock %}
