<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/bootstrap.min.responsive.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">

</head>

<body>
<header class="blog-header">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
	<a href="{{ SITEURL }}"><h1>{{SITENAME}}</h1></a>
      </div>

      <div class="span3" id="blog-nav">
	<ul class="nav nav-pills pull-right">
	  {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/pages/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            {% endif %}
	   {% for cat, null in categories %}
	    <li {% if cat == category %} class="active" {% endif %}>
	      <a href="{{ SITEURL }}/{{ cat.url }} ">{{ cat }}</a>
	   {% endfor %}
	</ul>
      </div>
    </div> <!-- End of fluid row-->
  </div>   <!-- End of Container-->
</header>
    
<div class="container">
    <div class="content">
    <div class="row-fluid">

        <div class="span10">
        {% block content %}{% endblock %}
        </div>
        
        
    </div> {# End row #}
    </div> {# End content #}
</div>

<!--footer-->
<div class="container">
  <div class="well" style="background-color: #E9EFF6">
    <div id="blog-footer">
      <div class="row-fluid">
	{% if SOCIAL %}
	<div class="social span2" align="center" id="socialist">
	  <ul class="nav nav-list">
	    <li class="nav-header">
	      Social
	    </li>
	    {% for name,link in SOCIAL %}
	    <li><a href="{{ link }}">{{ name }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
	{% include "colophon.html" %}
        {% if LINKS %}
        <div class="links span3" align="center">
          <ul class="nav nav-list">
            <li class="nav-header"> 
              Links
            </li>
            
            {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
	<div class="site-nav span3" align="center">
          <ul class="nav nav-list">
            <li class="nav-header"> 
              Site
            </li>
            <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
	    <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
	    <li><a href="{{ SITEURL }}/{{ FEED }}" rel="alternate">Atom Feed</a></li>
	    {% if FEED_RSS %}
	    <li> <a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">RSS Feed</a></li>
	    {% endif %}
	  </ul>

        </div>

      </div> <!--end of fluid row-->
    </div> <!--end of blog-footer-->
    <hr />
    <p><a href="{{ SITEURL }}">{{ SITENAME }}</a> &copy; {{ AUTHOR }} 2012</p>

  </div> <!--end of well -->
</div> <!--end of container -->

<!--/footer-->


<script src="./theme/jquery-min.js"></script>
<script src="./theme/bootstrap.js"></script>
{% include "analytics.html" %}

</body>
</html>
